body { 
    background-image: url("/background.png");
    background-color: #cccccc;
}

#head{
    background-color: #FFFFFF;
    margin: auto;

    height: 100px;
    width: 100%;
    min-height: 100px;
    min-width: 800px;
    background-attachment:fixed;
    background-position: 0px -650px;
    background-size: 110%;
}


.button {
    float: right;
    padding: 10px;
    color:#ad8068;
    margin:20px;
    font-family:Comic Sans MS;
    font-size:30px;
   
}
.button:hover{
    color:#f5783d;
}

.move{
    position: relative;
    top: 15px;
}