body { 
    background-image: url("http://i.stack.imgur.com/7YKUD.jpg");
    background-color: #cccccc;
}

#head{
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;
    height: 100px;
    width: 100%;
    min-height: 100px;
    min-width: 800px;
    position: absolute;
    left:0;
    right:0;
}

#footer {
    background-color: rgba(255, 255, 255, 0.9);
    color:#ad8068;
    clear:both;
    text-align:center;
    position: absolute;
	bottom:0;
	left:0;
    right:0;
}


.button {
    float: right;
    padding: 10px;
    color:#ad8068;
    margin:15px;
    font-family:'Tempus Sans ITC';
    font-size:40px;
    text-decoration: none;
    margin-right: 30px;
   
}
.button:hover{
    color:#f5783d;
}

.move{
    position: relative;
    top: 15px;
}

.adjustchat{
    padding: 100px;

}